<ion-view title="Settings" id="page3">
    <ion-content padding="true" scroll="false" class="has-header">
        <div id="settings-markdown3" style="color:#000000;">
            <p><b>Company code</b></p>
        </div>
        <form class="list">
            <label class="item item-input" name="companycode">
                <input id="compcode" type="text">
            </label>
        </form>
        <div id="settings-markdown4" style="color:#000000;">
            <p><b>Message to customer</b></p>
            <p><small>Use [link] in the message where you want the link to the drive to show.</small></p>
        </div>
        <form class="list">
            <label class="item item-input" name="message">
                <input id="message" type="text">
            </label>
        </form>
        <form class="list">
            <ion-checkbox id="checkbox">Allow customer to call driver</ion-checkbox>
        </form>
        <div id="settings-markdown6" style="color:#000000;">
            <p><b>Session time-out</b></p>
            <p><small>Number of minutes until the app will stop polling your location for the drive. Usually it will automatically stop when at your destination.</small></p>
        </div>
        <form class="list">
            <label class="item item-input" name="timeout">
                <input id="timeout" type="text">
            </label>
        </form>
    </ion-content>
</ion-view>