<ion-view title="MapSnap" id="page1">
    <ion-content padding="true" scroll="true" class="has-header">
        <div id="startADrive-markdown1" style="color:#000000;">
            <p><b>Phone Number</b></p>
            <p><small>In the form of 1234567890</small></p>
        </div>
        <form class="list">
            <label class="item item-input" name="phonenumber">
                <input id="phoneInput" type="tel" placeholder="">
            </label>
        </form>
        <p id="clearText1" style="color: #FF0000; text-align: right; margin-top: -18px; display: none;"><small>CLEAR</small></p>
        <div id="startADrive-markdown2" style="color:#000000;">
            <p><b>Address</b></p>
        </div>
        <form class="list">
            <label class="item item-input" name="address">
                <input id="addressInput" ng-focus="disableTap()" type="text" placeholder="" autocorrect="off">
            </label>
        </form>
        <p id="clearText2" style="color: #FF0000; text-align: right; margin-top: -18px; display: none;"><small>CLEAR</small></p>
        <button id="button1" class="button button-positive button-block">Start Drive</button>
        <button id="button2" class="button button-assertive button-block">Stop Drive</button>
    </ion-content>
</ion-view>