<ion-view title="Where They At" id="page1">
    <ion-content padding="true" scroll="false" class="has-header">
        <div id="startADrive-markdown1" style="color:#000000;">
            <p><b>Phone Number</b></p>
            <p><small>In the form of 1234567890</small></p>
        </div>
        <form class="list">
            <label class="item item-input" name="phonenumber">
                <input id="phoneInput" type="tel" placeholder="">
            </label>
        </form>
        <div id="startADrive-markdown2" style="color:#000000;">
            <p><b>Address</b></p>
        </div>
        <form class="list">
            <label class="item item-input" name="address">
                <input id="addressInput" type="text" placeholder="">
            </label>
        </form>
        <button id="button1" class="button button-positive button-block">Start Drive</button>
        <button id="button2" class="button button-assertive button-block">Stop Drive</button>
    </ion-content>
</ion-view>