<ion-view title="Start a Drive" id="page1">
    <ion-content padding="true" scroll="false" class="has-header">
        <div id="startADrive-markdown1" style="color:#000000;">
            <p>Phone Number</p>
        </div>
        <form class="list">
            <label class="item item-input" name="phonenumber">
                <input type="tel" placeholder="">
            </label>
        </form>
        <div id="startADrive-markdown2" style="color:#000000;">
            <p>Address</p>
        </div>
        <form class="list">
            <label class="item item-input" name="address">
                <input type="text" placeholder="">
            </label>
        </form>
        <div class="spacer" style="height: 100px;"></div>
        <button id="startADrive-button1" class="button button-positive  button-block">Send Text</button>
        <button id="startADrive-button2" class="button button-positive  button-block">Navigate</button>
    </ion-content>
</ion-view>