<ion-view title="Settings" id="page3">
    <ion-content padding="true" scroll="true" class="has-header">
        <div id="settings-markdown3" style="color:#000000;">
            <p><b>Company code</b></p>
        </div>
        <form class="list">
            <label class="item item-input" name="companycode">
                <input id="compcode" type="text" autocorrect="off" autocapitalize="off">
            </label>
        </form>
        <div id="settings-markdown4" style="color:#000000;">
            <p><b>Message to customer</b></p>
            <p><small>Use [link] in the message where you want the link to the drive to show.</small></p>
            <p id="warningText" style="color: #FF0000"><small>Warning: This text doesn't contain [link], so the user won't see your map.</small></p>
        </div>
        <form class="list">
            <label class="item item-input" name="message">
                <input id="message" type="text">
            </label>
        </form>
        <div id="settings-markdown4" style="color:#000000;">
            <p><b>Call options</b></p>
        </div>
        <form class="list">
            <ion-checkbox id="checkbox">Allow customer to call driver</ion-checkbox>
        </form>
        <div id="phoneNumberSettingsTitle" style="color:#000000;">
            <p><small>Your phone number</small></p>
        </div>
        <form class="list" id="phoneInputSettingsContainer">
            <label class="item item-input" name="phonenumbersettings">
                <input id="phoneInputSettings" type="tel" placeholder="e.g. 1234567890">
            </label>
        </form>
        <hr id="divider">
        <div id="iosMessage" style="color:#000000;">
            <p><b>Note:</b> On iOS, SMS messages can only be sent when this app is open. Don't worry, this doesn't affect the first SMS that contains the link since the app is open when starting the drive. But if the app is in the background once you're near the destination, the second arrival SMS won't send to the customer. They can still see your location and all other functionality will work properly, this is just something to note.</p>
        </div>
    </ion-content>
</ion-view>